

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-564691243188093747.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-564691243188093747.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-564691243188093747.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-564691243188093747.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-564691243188093747.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-564691243188093747.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-564691243188093747.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-564691243188093747.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-564691243188093747.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-564691243188093747.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-564691243188093747.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-564691243188093747.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-564691243188093747.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-564691243188093747.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-564691243188093747.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-564691243188093747.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-564691243188093747.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-564691243188093747.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-564691243188093747.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-564691243188093747.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-564691243188093747.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-564691243188093747.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-564691243188093747.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-564691243188093747.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-564691243188093747.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-564691243188093747.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-564691243188093747.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-564691243188093747.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-564691243188093747.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-564691243188093747.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-564691243188093747.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-564691243188093747.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-564691243188093747.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-564691243188093747.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-564691243188093747.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-564691243188093747.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-564691243188093747.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-564691243188093747.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-564691243188093747.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-564691243188093747.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-564691243188093747.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-564691243188093747.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-564691243188093747.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-564691243188093747.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-564691243188093747.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-564691243188093747.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-564691243188093747.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-564691243188093747.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-564691243188093747.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-564691243188093747.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-564691243188093747.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-564691243188093747.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-564691243188093747.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-564691243188093747.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-564691243188093747.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-564691243188093747.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-564691243188093747.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-564691243188093747.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-564691243188093747.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-564691243188093747.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-564691243188093747.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-564691243188093747.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-564691243188093747.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-564691243188093747.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-564691243188093747.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-564691243188093747.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-564691243188093747.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-564691243188093747.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-564691243188093747.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-564691243188093747.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-564691243188093747.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-564691243188093747.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-564691243188093747.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-564691243188093747.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-564691243188093747.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-564691243188093747.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-564691243188093747.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-564691243188093747.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-564691243188093747.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-564691243188093747.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-564691243188093747.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-564691243188093747.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-564691243188093747 .gp-invisible{visibility:hidden}.gps-564691243188093747 .gp-absolute{position:absolute}.gps-564691243188093747 .gp-relative{position:relative}.gps-564691243188093747 .gp-inset-0{inset:0}.gps-564691243188093747 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-564691243188093747 .gp-top-0{top:0}.gps-564691243188093747 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-564691243188093747 .gp-z-1{z-index:1}.gps-564691243188093747 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-564691243188093747 .gp-mb-0{margin-bottom:0}.gps-564691243188093747 .gp-flex{display:flex}.gps-564691243188093747 .gp-grid{display:grid}.gps-564691243188093747 .\!gp-hidden{display:none!important}.gps-564691243188093747 .gp-hidden{display:none}.gps-564691243188093747 .gp-h-full{height:100%}.gps-564691243188093747 .gp-w-full{width:100%}.gps-564691243188093747 .gp-max-w-full{max-width:100%}.gps-564691243188093747 .gp-cursor-pointer{cursor:pointer}.gps-564691243188093747 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-564691243188093747 .gp-flex-col{flex-direction:column}.gps-564691243188093747 .gp-items-center{align-items:center}.gps-564691243188093747 .\!gp-justify-end{justify-content:flex-end!important}.gps-564691243188093747 .\!gp-justify-center{justify-content:center!important}.gps-564691243188093747 .gp-gap-y-0{row-gap:0}.gps-564691243188093747 .gp-overflow-hidden{overflow:hidden}.gps-564691243188093747 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-564691243188093747 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-564691243188093747 .gp-duration-200{transition-duration:.2s}.gps-564691243188093747 .gp-duration-300{transition-duration:.3s}.gps-564691243188093747 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-564691243188093747 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-564691243188093747 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1024px){.gps-564691243188093747 .tablet\:gp-absolute{position:absolute}.gps-564691243188093747 .tablet\:\!gp-hidden{display:none!important}.gps-564691243188093747 .tablet\:gp-hidden{display:none}.gps-564691243188093747 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-564691243188093747 .tablet\:\!gp-justify-end{justify-content:flex-end!important}.gps-564691243188093747 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-564691243188093747 .mobile\:gp-relative{position:relative}.gps-564691243188093747 .mobile\:\!gp-hidden{display:none!important}.gps-564691243188093747 .mobile\:gp-hidden{display:none}.gps-564691243188093747 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-564691243188093747 .mobile\:\!gp-justify-end{justify-content:flex-end!important}.gps-564691243188093747 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-564691243188093747 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-564691243188093747 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-564691243188093747 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-564691243188093747 .\[\&_p\]\:gp-inline p{display:inline}.gps-564691243188093747 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-564691243188093747 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="ghSTENelfO" data-id="ghSTENelfO"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghSTENelfO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0iYaIipV4 gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:400px;--d:flex;--d-mobile:none;--d-tablet:none">
      <gp-hero-banner
        gp-data='{"target":"_self","background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"backupFileKey":"gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpeg","height":616,"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg?v=1720127035","storage":"FILE_CONTENT","width":1280},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"#00000000","image":{"backupFileKey":"gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpeg","height":616,"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg?v=1720127035","storage":"FILE_CONTENT","width":1280},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"#00000000","image":{"backupFileKey":"gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpeg","height":616,"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg?v=1720127035","storage":"FILE_CONTENT","width":1280},"position":{"x":0,"y":0},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"grE8OFuLad","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom","mobile":"bottom"},"contentPosition2Col":{"desktop":"bottom"}}'
        gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/shes-strong-blazer-copy"
        
        class="grE8OFuLad gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:none;--d-tablet:none;--op:100%;--op-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:400px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
        data-id="grE8OFuLad"
      >
        
        
          <div
            data-hero-banner-link="true"
            aria-label="Hero banner link"
            class="gp-cursor-pointer"
          >
            
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:auto;--h-tablet:auto;--h-mobile:400px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:#00000000;--bgc-mobile:#00000000;--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI2MTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyODAtNjE2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjgwIiBoZWlnaHQ9IjYxNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI2MTYiIGZpbGw9InVybCgjZy0xMjgwLTYxNikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyODAiIHRvPSIxMjgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI4MCIgaGVpZ2h0PSIxMjgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjgwLTEyODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyODAiIGhlaWdodD0iMTI4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI4MCIgaGVpZ2h0PSIxMjgwIiBmaWxsPSJ1cmwoI2ctMTI4MC0xMjgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTI4MCIgdG89IjEyODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI2MTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyODAtNjE2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjgwIiBoZWlnaHQ9IjYxNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI2MTYiIGZpbGw9InVybCgjZy0xMjgwLTYxNikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyODAiIHRvPSIxMjgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:400px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:#00000000;--bgc-mobile:#00000000;--bgp:50% 50%;--bgp-mobile:0% 0%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bgi:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI2MTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyODAtNjE2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjgwIiBoZWlnaHQ9IjYxNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI2MTYiIGZpbGw9InVybCgjZy0xMjgwLTYxNikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyODAiIHRvPSIxMjgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+');--bgi-tablet:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI4MCIgaGVpZ2h0PSIxMjgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjgwLTEyODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyODAiIGhlaWdodD0iMTI4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI4MCIgaGVpZ2h0PSIxMjgwIiBmaWxsPSJ1cmwoI2ctMTI4MC0xMjgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTI4MCIgdG89IjEyODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=');--bgi-mobile:url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI2MTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyODAtNjE2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjgwIiBoZWlnaHQ9IjYxNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI2MTYiIGZpbGw9InVybCgjZy0xMjgwLTYxNikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyODAiIHRvPSIxMjgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="{{ "gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg" | file_url }}" data-srcset="{{ "gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="{{ "gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg" | file_url }}" data-srcset="{{ "gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="{{ "gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg" | file_url }}" data-srcset="{{ "gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%;--hvr-op:0%">
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--pl:15px;--pr:15px;--pt:32px;--pb:84px;--pl-tablet:15px;--pr-tablet:15px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:15px;--pr-mobile:15px;--pt-mobile:16px;--pb-mobile:20px;--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1230px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:end;--o:0"
      class="g1u6mHscRd gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gS89qRBYZF">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gS89qRBYZF "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:right;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Darina-Regular, 'Darina Regular'), var(--g-font-body, body);--weight:400;--ls:2px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:100%;--c:#ffffff;--tt:uppercase;--tdl:underline;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggS89qRBYZF_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gS89qRBYZF">
        .gS89qRBYZF {

}
.gS89qRBYZF p {

}
      </style>
    
    </div>
    </div>
   
    
      </div>
    
          </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-564691243188093747 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/shop-serah-1/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=564691243120984883&sectionId=564691243188093747)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggS89qRBYZF_text","label":"ggS89qRBYZF_text","default":"<p><a href=\"https://shopserah.com/products/shes-bold-top\" target=\"_blank\"><u>Shes Bold - Top</u></a><u> AED 550</u></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
