

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-564691243188749107.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-564691243188749107.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-564691243188749107.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-564691243188749107.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-564691243188749107.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-564691243188749107.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-564691243188749107.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-564691243188749107.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-564691243188749107.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-564691243188749107.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-564691243188749107.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-564691243188749107.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-564691243188749107.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-564691243188749107.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-564691243188749107.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-564691243188749107.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-564691243188749107.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-564691243188749107.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-564691243188749107.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-564691243188749107.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-564691243188749107.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-564691243188749107.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-564691243188749107.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-564691243188749107.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-564691243188749107.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-564691243188749107.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-564691243188749107.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-564691243188749107.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-564691243188749107.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-564691243188749107.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-564691243188749107.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-564691243188749107.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-564691243188749107.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-564691243188749107.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-564691243188749107.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-564691243188749107.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-564691243188749107.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-564691243188749107.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-564691243188749107.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-564691243188749107.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-564691243188749107.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-564691243188749107.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-564691243188749107.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-564691243188749107.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-564691243188749107.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-564691243188749107.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-564691243188749107.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-564691243188749107.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-564691243188749107.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-564691243188749107.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-564691243188749107.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-564691243188749107.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-564691243188749107.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-564691243188749107.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-564691243188749107.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-564691243188749107.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-564691243188749107.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-564691243188749107.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-564691243188749107.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-564691243188749107.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-564691243188749107.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-564691243188749107.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-564691243188749107.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-564691243188749107.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-564691243188749107.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-564691243188749107.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-564691243188749107.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-564691243188749107.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-564691243188749107.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-564691243188749107.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-564691243188749107.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-564691243188749107.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-564691243188749107.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-564691243188749107.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-564691243188749107.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-564691243188749107.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-564691243188749107.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-564691243188749107.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-564691243188749107.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-564691243188749107.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-564691243188749107.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-564691243188749107.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-564691243188749107.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-564691243188749107.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-564691243188749107.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-564691243188749107.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-564691243188749107.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-564691243188749107.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-564691243188749107.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-564691243188749107.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-564691243188749107 .gp-invisible{visibility:hidden}.gps-564691243188749107 .gp-absolute{position:absolute}.gps-564691243188749107 .gp-relative{position:relative}.gps-564691243188749107 .gp-inset-0{inset:0}.gps-564691243188749107 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-564691243188749107 .gp-top-0{top:0}.gps-564691243188749107 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-564691243188749107 .gp-z-1{z-index:1}.gps-564691243188749107 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-564691243188749107 .gp-mb-0{margin-bottom:0}.gps-564691243188749107 .gp-flex{display:flex}.gps-564691243188749107 .gp-inline-flex{display:inline-flex}.gps-564691243188749107 .gp-grid{display:grid}.gps-564691243188749107 .\!gp-hidden{display:none!important}.gps-564691243188749107 .gp-hidden{display:none}.gps-564691243188749107 .gp-h-full{height:100%}.gps-564691243188749107 .gp-w-full{width:100%}.gps-564691243188749107 .gp-max-w-full{max-width:100%}.gps-564691243188749107 .gp-cursor-pointer{cursor:pointer}.gps-564691243188749107 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-564691243188749107 .gp-flex-col{flex-direction:column}.gps-564691243188749107 .gp-items-center{align-items:center}.gps-564691243188749107 .\!gp-justify-center{justify-content:center!important}.gps-564691243188749107 .gp-justify-center{justify-content:center}.gps-564691243188749107 .gp-gap-y-0{row-gap:0}.gps-564691243188749107 .gp-overflow-hidden{overflow:hidden}.gps-564691243188749107 .gp-break-words{overflow-wrap:break-word}.gps-564691243188749107 .gp-rounded-none{border-radius:0}.gps-564691243188749107 .gp-text-center{text-align:center}.gps-564691243188749107 .gp-no-underline{text-decoration-line:none}.gps-564691243188749107 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-564691243188749107 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-564691243188749107 .gp-duration-200{transition-duration:.2s}.gps-564691243188749107 .gp-duration-300{transition-duration:.3s}.gps-564691243188749107 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-564691243188749107 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-564691243188749107 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-564691243188749107 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-564691243188749107 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-564691243188749107 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}.gps-564691243188749107 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-564691243188749107 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-564691243188749107 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-564691243188749107 .tablet\:gp-absolute{position:absolute}.gps-564691243188749107 .tablet\:\!gp-hidden{display:none!important}.gps-564691243188749107 .tablet\:gp-hidden{display:none}.gps-564691243188749107 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-564691243188749107 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-564691243188749107 .mobile\:gp-absolute{position:absolute}.gps-564691243188749107 .mobile\:\!gp-hidden{display:none!important}.gps-564691243188749107 .mobile\:gp-hidden{display:none}.gps-564691243188749107 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-564691243188749107 .mobile\:\!gp-justify-end{justify-content:flex-end!important}.gps-564691243188749107 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-564691243188749107 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-564691243188749107 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-564691243188749107 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-564691243188749107 .\[\&_p\]\:gp-inline p{display:inline}.gps-564691243188749107 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-564691243188749107 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-564691243188749107 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gnOMD_gWyw" data-id="gnOMD_gWyw"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnOMD_gWyw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpYELkkPOV gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:400px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:0px;--mb-mobile:0px">
      <gp-hero-banner
        gp-data='{"target":"_self","background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"backupFileKey":"gempages_521059818593584266-3c386b5e-b1d6-4f12-b068-3fc81da60a4e.jpg","height":5000,"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-3c386b5e-b1d6-4f12-b068-3fc81da60a4e.jpg","storage":"FILE_CONTENT","width":5000},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"#00000000","image":{"backupFileKey":"gempages_521059818593584266-3c386b5e-b1d6-4f12-b068-3fc81da60a4e.jpg","height":5000,"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-3c386b5e-b1d6-4f12-b068-3fc81da60a4e.jpg","storage":"FILE_CONTENT","width":5000},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"#00000000","image":{"backupFileKey":"gempages_521059818593584266-90ee4f9c-28ce-4899-9e64-485a3db58a3e.jpg","height":5000,"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-90ee4f9c-28ce-4899-9e64-485a3db58a3e.jpg","storage":"FILE_CONTENT","width":5000},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gR3Wf4-zih","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"bottom"},"contentPosition2Col":{"desktop":"bottom"}}'
        gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/the-summer-escape"
        
        class="gR3Wf4-zih gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:400px;--w:auto;--w-tablet:auto;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto"
        data-id="gR3Wf4-zih"
      >
        
        
          <div
            data-hero-banner-link="true"
            aria-label="Hero banner link"
            class="gp-cursor-pointer"
          >
            
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-end"
        style="--h:auto;--h-tablet:auto;--h-mobile:400px;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:#00000000;--bgc-mobile:#00000000;--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_521059818593584266-90ee4f9c-28ce-4899-9e64-485a3db58a3e.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwMCIgaGVpZ2h0PSI1MDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy01MDAwLTUwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjUwMDAiIGhlaWdodD0iNTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwMCIgaGVpZ2h0PSI1MDAwIiBmaWxsPSJ1cmwoI2ctNTAwMC01MDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNTAwMCIgdG89IjUwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_521059818593584266-3c386b5e-b1d6-4f12-b068-3fc81da60a4e.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwMCIgaGVpZ2h0PSI1MDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy01MDAwLTUwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjUwMDAiIGhlaWdodD0iNTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwMCIgaGVpZ2h0PSI1MDAwIiBmaWxsPSJ1cmwoI2ctNTAwMC01MDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNTAwMCIgdG89IjUwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwMCIgaGVpZ2h0PSI1MDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy01MDAwLTUwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjUwMDAiIGhlaWdodD0iNTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwMCIgaGVpZ2h0PSI1MDAwIiBmaWxsPSJ1cmwoI2ctNTAwMC01MDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNTAwMCIgdG89IjUwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_521059818593584266-3c386b5e-b1d6-4f12-b068-3fc81da60a4e.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--d:block;--d-tablet:block;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:400px;--w:auto;--w-mobile:100%;--w-tablet:auto;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgi:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwMCIgaGVpZ2h0PSI1MDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy01MDAwLTUwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjUwMDAiIGhlaWdodD0iNTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwMCIgaGVpZ2h0PSI1MDAwIiBmaWxsPSJ1cmwoI2ctNTAwMC01MDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNTAwMCIgdG89IjUwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--bgi-tablet:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwMCIgaGVpZ2h0PSI1MDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy01MDAwLTUwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjUwMDAiIGhlaWdodD0iNTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwMCIgaGVpZ2h0PSI1MDAwIiBmaWxsPSJ1cmwoI2ctNTAwMC01MDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNTAwMCIgdG89IjUwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--bgi-mobile:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwMCIgaGVpZ2h0PSI1MDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy01MDAwLTUwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjUwMDAiIGhlaWdodD0iNTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwMCIgaGVpZ2h0PSI1MDAwIiBmaWxsPSJ1cmwoI2ctNTAwMC01MDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNTAwMCIgdG89IjUwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--bgc:#00000000;--bgc-mobile:#00000000;--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="{{ "gempages_521059818593584266-3c386b5e-b1d6-4f12-b068-3fc81da60a4e.jpg" | file_url }}" data-srcset="{{ "gempages_521059818593584266-3c386b5e-b1d6-4f12-b068-3fc81da60a4e.jpg" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="{{ "gempages_521059818593584266-3c386b5e-b1d6-4f12-b068-3fc81da60a4e.jpg" | file_url }}" data-srcset="{{ "gempages_521059818593584266-3c386b5e-b1d6-4f12-b068-3fc81da60a4e.jpg" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="{{ "gempages_521059818593584266-90ee4f9c-28ce-4899-9e64-485a3db58a3e.jpg" | file_url }}" data-srcset="{{ "gempages_521059818593584266-90ee4f9c-28ce-4899-9e64-485a3db58a3e.jpg" | file_url }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%;--hvr-op:0%">
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--pl:15px;--pr:15px;--pt:32px;--pb:84px;--pl-tablet:15px;--pr-tablet:15px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:15px;--pr-mobile:15px;--pt-mobile:16px;--pb-mobile:20px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:end;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1230px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-absolute tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:end;--o:0"
      class="gEdpc5jojq gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gceCewzSfi">
    <div
      parentTag="Col"
        class="gceCewzSfi "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:450px;--ml:0px;--mb:5px;--pt:0px;--pl:0px;--pr:0px;--mb-mobile:5px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans'), var(--g-font-heading, heading);--weight:400;--ls:3px;--size:60px;--size-tablet:32px;--size-mobile:40px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggceCewzSfi_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    
  >
    <style>
    .gwyqcm1oKb.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gwyqcm1oKb:hover::before {
      
      
    }

    .gwyqcm1oKb:hover .gp-button-icon {
      color: #ffffff;
    }

     .gwyqcm1oKb .gp-button-icon {
      color: #ffffff;
    }

    .gwyqcm1oKb:hover .gp-button-price {
      color: #ffffff;
    }

    .gwyqcm1oKb .gp-button-price {
      color: #ffffff;
    }

    .gwyqcm1oKb .gp-product-dot-price {
       color: #ffffff;
    }

    .gwyqcm1oKb:hover .gp-product-dot-price {
      color: #ffffff;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/best-sellers" target="_self" data-id="gwyqcm1oKb" aria-label="<p>SHOP NOW</p>"
      
      data-state="idle"
      class="gwyqcm1oKb gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:rgba(74, 74, 74, 0);--bg:rgba(249, 249, 249, 0);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--w:200px;--w-tablet:150px;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--hvr-c:#ffffff;--c:#ffffff;--size:12px;--size-tablet:11px;--size-mobile:8px;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans'), var(--g-font-body, body);--weight:700;--ls:5px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:uppercase;--tdl:underline"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:12px;--size-tablet:11px;--size-mobile:8px;--hvr-c:#ffffff;--c:#ffffff"
      >
        {{ section.settings.ggwyqcm1oKb_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
      </div>
    
          </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v16/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW3w.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v16/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3w.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v16/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v16/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v16/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v16/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-564691243188749107 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/shop-serah-1/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=564691243120984883&sectionId=564691243188749107)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggceCewzSfi_text","label":"ggceCewzSfi_text","default":"BEST SELLERS"},{"type":"html","id":"ggwyqcm1oKb_label","label":"ggwyqcm1oKb_label","default":"<p>SHOP NOW</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
