

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-564691243188159283.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-564691243188159283.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-564691243188159283.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-564691243188159283.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-564691243188159283.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-564691243188159283.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-564691243188159283.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-564691243188159283.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-564691243188159283.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-564691243188159283.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-564691243188159283.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-564691243188159283.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-564691243188159283.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-564691243188159283.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-564691243188159283.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-564691243188159283.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-564691243188159283.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-564691243188159283.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-564691243188159283.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-564691243188159283.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-564691243188159283.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-564691243188159283.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-564691243188159283.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-564691243188159283.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-564691243188159283.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-564691243188159283.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-564691243188159283.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-564691243188159283.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-564691243188159283.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-564691243188159283.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-564691243188159283.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-564691243188159283.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-564691243188159283.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-564691243188159283.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-564691243188159283.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-564691243188159283.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-564691243188159283.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-564691243188159283.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-564691243188159283.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-564691243188159283.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-564691243188159283.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-564691243188159283.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-564691243188159283.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-564691243188159283.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-564691243188159283.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-564691243188159283.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-564691243188159283.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-564691243188159283.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-564691243188159283.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-564691243188159283.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-564691243188159283.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-564691243188159283.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-564691243188159283.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-564691243188159283.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-564691243188159283.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-564691243188159283.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-564691243188159283.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-564691243188159283.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-564691243188159283.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-564691243188159283.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-564691243188159283.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-564691243188159283.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-564691243188159283.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-564691243188159283.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-564691243188159283.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-564691243188159283.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-564691243188159283.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-564691243188159283 .gp-absolute{position:absolute}.gps-564691243188159283 .gp-relative{position:relative}.gps-564691243188159283 .gp-inset-0{inset:0}.gps-564691243188159283 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-564691243188159283 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-564691243188159283 .gp-z-1{z-index:1}.gps-564691243188159283 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-564691243188159283 .gp-mb-0{margin-bottom:0}.gps-564691243188159283 .gp-flex{display:flex}.gps-564691243188159283 .gp-grid{display:grid}.gps-564691243188159283 .\!gp-hidden{display:none!important}.gps-564691243188159283 .gp-hidden{display:none}.gps-564691243188159283 .gp-h-full{height:100%}.gps-564691243188159283 .gp-w-full{width:100%}.gps-564691243188159283 .gp-max-w-full{max-width:100%}.gps-564691243188159283 .gp-cursor-pointer{cursor:pointer}.gps-564691243188159283 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-564691243188159283 .gp-flex-col{flex-direction:column}.gps-564691243188159283 .gp-items-center{align-items:center}.gps-564691243188159283 .\!gp-justify-center{justify-content:center!important}.gps-564691243188159283 .gp-gap-y-0{row-gap:0}.gps-564691243188159283 .gp-overflow-hidden{overflow:hidden}.gps-564691243188159283 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-564691243188159283 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-564691243188159283 .gp-duration-200{transition-duration:.2s}.gps-564691243188159283 .gp-duration-300{transition-duration:.3s}.gps-564691243188159283 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-564691243188159283 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-564691243188159283 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1024px){.gps-564691243188159283 .tablet\:gp-relative{position:relative}.gps-564691243188159283 .tablet\:\!gp-hidden{display:none!important}.gps-564691243188159283 .tablet\:gp-hidden{display:none}.gps-564691243188159283 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-564691243188159283 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-564691243188159283 .mobile\:gp-relative{position:relative}.gps-564691243188159283 .mobile\:\!gp-hidden{display:none!important}.gps-564691243188159283 .mobile\:gp-hidden{display:none}.gps-564691243188159283 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-564691243188159283 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-564691243188159283 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-564691243188159283 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-564691243188159283 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gM7VoI8nuO" data-id="gM7VoI8nuO"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gM7VoI8nuO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEvpsGIF38 gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:100vh;--h-tablet:100vh;--h-mobile:600px;--d:flex;--d-mobile:flex;--d-tablet:flex;--ml:auto;--mr:auto;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto">
      <gp-hero-banner
        gp-data='{"target":"_self","background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-e454db70-fa99-4adc-9e30-816bd54c259e.png","width":1920,"height":1080,"backupFileKey":"gempages_521059818593584266-e454db70-fa99-4adc-9e30-816bd54c259e.png","storage":"FILE_CONTENT"},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"#00000000","image":{"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-e454db70-fa99-4adc-9e30-816bd54c259e.png","width":1920,"height":1080,"backupFileKey":"gempages_521059818593584266-e454db70-fa99-4adc-9e30-816bd54c259e.png","storage":"FILE_CONTENT"},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"#00000000","image":{"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-262d0ce1-3299-4e06-8773-9abe3b1bf5f3.png","width":1080,"height":1350,"backupFileKey":"gempages_521059818593584266-262d0ce1-3299-4e06-8773-9abe3b1bf5f3.png","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gb4Me1-XPL","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"center"},"contentPosition2Col":{"desktop":"bottom"},"aspectRatio":{"desktop":"auto","mobile":"cover"}}'
        gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/ss25"
        
        class="gb4Me1-XPL gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--pl:0px;--pr:0px;--pl-mobile:0px;--pr-mobile:0px;--h:100vh;--h-tablet:100vh;--h-mobile:600px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gb4Me1-XPL"
      >
        
        
          <div
            data-hero-banner-link="true"
            aria-label="Hero banner link"
            class="gp-cursor-pointer"
          >
            
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:100vh;--h-tablet:100vh;--h-mobile:600px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:#00000000;--bgc-mobile:#00000000;--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_521059818593584266-262d0ce1-3299-4e06-8773-9abe3b1bf5f3.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_521059818593584266-e454db70-fa99-4adc-9e30-816bd54c259e.png" | file_url }}" />
      <img
        title
        class="adaptive-hero-banner"
        src="{{ "gempages_521059818593584266-e454db70-fa99-4adc-9e30-816bd54c259e.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:100vh;--h-tablet:100vh;--h-mobile:600px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgi:url({{ "gempages_521059818593584266-e454db70-fa99-4adc-9e30-816bd54c259e.png" | file_url }});--bgi-tablet:url({{ "gempages_521059818593584266-e454db70-fa99-4adc-9e30-816bd54c259e.png" | file_url }});--bgi-mobile:url({{ "gempages_521059818593584266-262d0ce1-3299-4e06-8773-9abe3b1bf5f3.png" | file_url }});--bgc:#00000000;--bgc-mobile:#00000000;--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%;--hvr-op:0%">
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--pl:15px;--pr:15px;--pt:32px;--pb:84px;--pl-tablet:15px;--pr-tablet:15px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:15px;--pr-mobile:15px;--pt-mobile:16px;--pb-mobile:20px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1230px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:end;--o:0"
      class="gGHoVdzMRX gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
      </div>
    
          </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-564691243188159283 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/shop-serah-1/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=564691243120984883&sectionId=564691243188159283)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
