

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-539286687642027004.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-539286687642027004.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-539286687642027004.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-539286687642027004.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-539286687642027004.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-539286687642027004.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-539286687642027004.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-539286687642027004.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-539286687642027004.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-539286687642027004.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-539286687642027004.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-539286687642027004.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-539286687642027004.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-539286687642027004.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-539286687642027004.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-539286687642027004.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-539286687642027004.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-539286687642027004.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-539286687642027004.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-539286687642027004.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-539286687642027004.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-539286687642027004.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-539286687642027004.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-539286687642027004.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-539286687642027004.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-539286687642027004.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-539286687642027004.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-539286687642027004.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-539286687642027004.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-539286687642027004.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-539286687642027004.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-539286687642027004.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-539286687642027004.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-539286687642027004.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-539286687642027004.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-539286687642027004.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-539286687642027004.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-539286687642027004.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1023px){.gps-539286687642027004.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-539286687642027004.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-539286687642027004.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-539286687642027004.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-539286687642027004.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-539286687642027004.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-539286687642027004.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-539286687642027004.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-539286687642027004.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-539286687642027004.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-539286687642027004.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-539286687642027004.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-539286687642027004.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-539286687642027004.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-539286687642027004.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-539286687642027004.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-539286687642027004.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-539286687642027004.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-539286687642027004.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-539286687642027004.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-539286687642027004.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-539286687642027004.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-539286687642027004.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-539286687642027004.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-539286687642027004.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-539286687642027004.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-539286687642027004.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-539286687642027004 .gp-invisible{visibility:hidden}.gps-539286687642027004 .gp-absolute{position:absolute}.gps-539286687642027004 .gp-relative{position:relative}.gps-539286687642027004 .gp-inset-0{inset:0}.gps-539286687642027004 .gp-top-0{top:0}.gps-539286687642027004 .gp-z-1{z-index:1}.gps-539286687642027004 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-539286687642027004 .gp-mb-0{margin-bottom:0}.gps-539286687642027004 .gp-flex{display:flex}.gps-539286687642027004 .gp-grid{display:grid}.gps-539286687642027004 .\!gp-hidden{display:none!important}.gps-539286687642027004 .gp-hidden{display:none}.gps-539286687642027004 .gp-h-full{height:100%}.gps-539286687642027004 .gp-w-full{width:100%}.gps-539286687642027004 .gp-max-w-full{max-width:100%}.gps-539286687642027004 .gp-flex-col{flex-direction:column}.gps-539286687642027004 .gp-items-center{align-items:center}.gps-539286687642027004 .\!gp-justify-end{justify-content:flex-end!important}.gps-539286687642027004 .\!gp-justify-center{justify-content:center!important}.gps-539286687642027004 .gp-gap-y-0{row-gap:0}.gps-539286687642027004 .gp-overflow-hidden{overflow:hidden}.gps-539286687642027004 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-539286687642027004 .gp-duration-200{transition-duration:.2s}.gps-539286687642027004 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-539286687642027004 .tablet\:gp-relative{position:relative}.gps-539286687642027004 .tablet\:\!gp-hidden{display:none!important}.gps-539286687642027004 .tablet\:gp-hidden{display:none}.gps-539286687642027004 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-539286687642027004 .tablet\:\!gp-justify-end{justify-content:flex-end!important}.gps-539286687642027004 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-539286687642027004 .mobile\:gp-relative{position:relative}.gps-539286687642027004 .mobile\:\!gp-hidden{display:none!important}.gps-539286687642027004 .mobile\:gp-hidden{display:none}.gps-539286687642027004 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-539286687642027004 .mobile\:\!gp-justify-end{justify-content:flex-end!important}.gps-539286687642027004 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-539286687642027004 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-539286687642027004 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-539286687642027004 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-539286687642027004 .\[\&_p\]\:gp-inline p{display:inline}.gps-539286687642027004 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-539286687642027004 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g7elftNPXD" data-id="g7elftNPXD"
        style="--blockPadding:base;--pt:0px;--pb:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7elftNPXD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gVSP2tmlh6 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gMb2kMYqa6" data-id="gMb2kMYqa6"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMb2kMYqa6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gttlXAU18c gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:100vh;--h-tablet:100vh;--h-mobile:500px;--d:flex;--d-tablet:flex;--d-mobile:flex">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png","width":1080,"height":1080,"backupFileKey":"gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":0},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube","loop":true,"lazyLoad":false},"tablet":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png","width":1080,"height":1080,"backupFileKey":"gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":0},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube","loop":true,"lazyLoad":false},"mobile":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png","width":1080,"height":1080,"backupFileKey":"gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":0},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube","loop":true,"lazyLoad":false}},"uid":"gAA7d7F7_Y","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"}}'
        
        class="gAA7d7F7_Y gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--h:100vh;--h-tablet:100vh;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gAA7d7F7_Y"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
          style="--h:100vh;--h-tablet:100vh;--h-mobile:500px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f_1024x1024.png" | file_url }}" />
        <img
          title
          class="adaptive-hero-banner"
          src="{{ "gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1080/1080;--aspect-tablet:1080/1080;--aspect-mobile:1080/1080;--d:none;--d-tablet:none;--d-mobile:none;--h:100vh;--h-tablet:100vh;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1080/1080;--aspect-tablet:1080/1080;--aspect-mobile:1080/1080;--d:none;--d-tablet:none;--d-mobile:none;--h:100vh;--h-tablet:100vh;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 0%;--bgs:cover;--bgr:no-repeat;--bgi:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-tablet:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-mobile:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  "
      src="https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png" width="2237" height="1678" alt="lazy image desktop"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png" data-srcset="https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png 768w,https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png 1024w,https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl "
      src="https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png" width="2237" height="1678" alt="lazy image tablet"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png" data-srcset="https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png 768w,https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png 1024w,https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb"
      src="https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png" width="2237" height="1678" alt="lazy image mobile"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png" data-srcset="https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png 768w,https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png 1024w,https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-ff0d0983-7105-4686-9c31-32301287573f.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
              </div>  
               </div>
            </div>
            
          </div>
          <a
              href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/fall24"
              target="_self"
              aria-label="Hero banner link"
              class="gp-absolute gp-inset-0 gp-z-1"
            > </a>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gmfJuDecTg gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gAqNvNj2Co">
    <div
      parentTag="Col"
        class="gAqNvNj2Co "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-DM-Sans, 'DM Sans'), var(--g-font-heading, heading);--weight:400;--size:28px;--size-tablet:32px;--size-mobile:26px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><a href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/fall24">Clothing</a></h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="ga1szntMhO">
    <div
      parentTag="Col"
        class="ga1szntMhO "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-DM-Sans, 'DM Sans'), var(--g-font-heading, heading);--weight:400;--size:15px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gga1szntMhO_text }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gAwUFw46Dd gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:100vh;--h-tablet:100vh;--h-mobile:500px;--d:flex;--d-tablet:flex;--d-mobile:flex">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png","width":1080,"height":1080,"backupFileKey":"gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube","loop":true,"lazyLoad":false},"tablet":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png","width":1080,"height":1080,"backupFileKey":"gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube","loop":true,"lazyLoad":false},"mobile":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png","width":1080,"height":1080,"backupFileKey":"gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube","loop":true,"lazyLoad":false}},"uid":"gbFD2bmHfh","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"}}'
        
        class="gbFD2bmHfh gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--h:100vh;--h-tablet:100vh;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gbFD2bmHfh"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
          style="--h:100vh;--h-tablet:100vh;--h-mobile:500px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf_768x768.png" | file_url }}" />
        <source media="(max-width: 1023px)" srcset="{{ "gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf_1024x1024.png" | file_url }}" />
        <img
          title
          class="adaptive-hero-banner"
          src="{{ "gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png" | file_url }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1080/1080;--aspect-tablet:1080/1080;--aspect-mobile:1080/1080;--d:none;--d-tablet:none;--d-mobile:none;--h:100vh;--h-tablet:100vh;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf_768x768.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf_1024x1024.png" | file_url }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" />
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        data-src="{{ "gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1080/1080;--aspect-tablet:1080/1080;--aspect-mobile:1080/1080;--d:none;--d-tablet:none;--d-mobile:none;--h:100vh;--h-tablet:100vh;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp_lazybg"
              style="--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bgi:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-tablet:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--bgi-mobile:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
             
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  "
      src="https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png" width="2237" height="1678" alt="lazy image desktop"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg   gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png" data-srcset="https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png 768w,https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png 1024w,https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl "
      src="https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png" width="2237" height="1678" alt="lazy image tablet"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl  gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png" data-srcset="https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png 768w,https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png 1024w,https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
  {%- liquid
    assign isFetchPriorityHigh = false 
    
  -%}

  {%- if isFetchPriorityHigh == true or isFetchPriorityHigh == 'true' -%}
    <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb"
      src="https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png" width="2237" height="1678" alt="lazy image mobile"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="100vw"
      
    />
  {%- else -%}
    <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb gp_lazyload"
      data-src="https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png" data-srcset="https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png 768w,https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png 1024w,https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-c25e03af-b0b3-458b-b2de-a29053df4fdf.png 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  {%- endif -%}
  
              </div>  
               </div>
            </div>
            
          </div>
          <a
              href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/arista"
              target="_self"
              aria-label="Hero banner link"
              class="gp-absolute gp-inset-0 gp-z-1"
            > </a>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gqYAahVDSD gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="grrRM3apA6">
    <div
      parentTag="Col"
        class="grrRM3apA6 "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-DM-Sans, 'DM Sans'), var(--g-font-heading, heading);--weight:400;--size:28px;--size-tablet:32px;--size-mobile:26px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><a href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/arista" target="_blank">Jewellery</a></h2>
      </div>
    </div>
    </gp-text>
    
  <gp-text data-id="gUCNr51xah">
    <div
      parentTag="Col"
        class="gUCNr51xah "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-DM-Sans, 'DM Sans'), var(--g-font-heading, heading);--weight:400;--size:15px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggUCNr51xah_text }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW3w.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRR23wRmYJp8I5zzw.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW3wRmYJp8I5.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-539286687642027004 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/shop-serah-1/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=539282714545619964&sectionId=539286687642027004)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggAqNvNj2Co_text","label":"ggAqNvNj2Co_text","default":"<a href=\"/collections/fall24\">Clothing</a>"},{"type":"html","id":"gga1szntMhO_text","label":"gga1szntMhO_text","default":"<u>SHOP NOW</u>"},{"type":"html","id":"ggrrRM3apA6_text","label":"ggrrRM3apA6_text","default":"<a href=\"/collections/arista\" target=\"_blank\">Jewellery</a>"},{"type":"html","id":"ggUCNr51xah_text","label":"ggUCNr51xah_text","default":"<u>SHOP NOW</u>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
