

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-521076012147016759.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-521076012147016759.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-521076012147016759.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-521076012147016759.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-521076012147016759.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-521076012147016759.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-521076012147016759.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-521076012147016759.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-521076012147016759.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-521076012147016759.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-521076012147016759.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-521076012147016759.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-521076012147016759.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-521076012147016759.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-521076012147016759.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-521076012147016759.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-521076012147016759.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-521076012147016759.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-521076012147016759.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-521076012147016759.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-521076012147016759.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-521076012147016759.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-521076012147016759.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-521076012147016759.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-521076012147016759.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-521076012147016759.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-521076012147016759.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-521076012147016759.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-521076012147016759.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-521076012147016759.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-521076012147016759.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-521076012147016759.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-521076012147016759.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-521076012147016759.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-521076012147016759.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-521076012147016759.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-521076012147016759.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-521076012147016759.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-521076012147016759.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-521076012147016759.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-521076012147016759.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-521076012147016759.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-521076012147016759.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-521076012147016759.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-521076012147016759.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-521076012147016759.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-521076012147016759.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-521076012147016759.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-521076012147016759.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-521076012147016759.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-521076012147016759.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-521076012147016759.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-521076012147016759.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-521076012147016759.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-521076012147016759.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-521076012147016759.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-521076012147016759.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-521076012147016759.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-521076012147016759.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-521076012147016759.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-521076012147016759.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-521076012147016759.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-521076012147016759.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-521076012147016759.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-521076012147016759.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-521076012147016759.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-521076012147016759.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-521076012147016759.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-521076012147016759.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-521076012147016759.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-521076012147016759.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-521076012147016759.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-521076012147016759.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-521076012147016759.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-521076012147016759.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-521076012147016759.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-521076012147016759.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-521076012147016759.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-521076012147016759.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-521076012147016759.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-521076012147016759.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-521076012147016759.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-521076012147016759.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-521076012147016759.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-521076012147016759.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-521076012147016759.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-521076012147016759.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-521076012147016759.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-521076012147016759 .gp-invisible{visibility:hidden}.gps-521076012147016759 .gp-absolute{position:absolute}.gps-521076012147016759 .gp-relative{position:relative}.gps-521076012147016759 .gp-inset-0{inset:0}.gps-521076012147016759 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-521076012147016759 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-521076012147016759 .gp-z-1{z-index:1}.gps-521076012147016759 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-521076012147016759 .gp-mb-0{margin-bottom:0}.gps-521076012147016759 .gp-flex{display:flex}.gps-521076012147016759 .gp-inline-flex{display:inline-flex}.gps-521076012147016759 .gp-grid{display:grid}.gps-521076012147016759 .\!gp-hidden{display:none!important}.gps-521076012147016759 .gp-hidden{display:none}.gps-521076012147016759 .gp-h-5{height:20px}.gps-521076012147016759 .gp-h-full{height:100%}.gps-521076012147016759 .gp-w-5{width:20px}.gps-521076012147016759 .gp-w-full{width:100%}.gps-521076012147016759 .gp-max-w-full{max-width:100%}.gps-521076012147016759 .gp-flex-col{flex-direction:column}.gps-521076012147016759 .gp-items-center{align-items:center}.gps-521076012147016759 .\!gp-justify-center{justify-content:center!important}.gps-521076012147016759 .gp-justify-center{justify-content:center}.gps-521076012147016759 .gp-gap-y-0{row-gap:0}.gps-521076012147016759 .gp-overflow-hidden{overflow:hidden}.gps-521076012147016759 .gp-break-words{overflow-wrap:break-word}.gps-521076012147016759 .gp-rounded-none{border-radius:0}.gps-521076012147016759 .gp-no-underline{text-decoration-line:none}.gps-521076012147016759 .gp-opacity-25{opacity:.25}.gps-521076012147016759 .gp-opacity-75{opacity:.75}.gps-521076012147016759 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-521076012147016759 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-521076012147016759 .gp-duration-200{transition-duration:.2s}.gps-521076012147016759 .gp-duration-300{transition-duration:.3s}.gps-521076012147016759 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-521076012147016759 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-521076012147016759 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-521076012147016759 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-521076012147016759 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-521076012147016759 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-521076012147016759 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-521076012147016759 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-521076012147016759 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-521076012147016759 .tablet\:gp-absolute{position:absolute}.gps-521076012147016759 .tablet\:\!gp-hidden{display:none!important}.gps-521076012147016759 .tablet\:gp-hidden{display:none}.gps-521076012147016759 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-521076012147016759 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-521076012147016759 .mobile\:gp-absolute{position:absolute}.gps-521076012147016759 .mobile\:gp-relative{position:relative}.gps-521076012147016759 .mobile\:\!gp-hidden{display:none!important}.gps-521076012147016759 .mobile\:gp-hidden{display:none}.gps-521076012147016759 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-521076012147016759 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-521076012147016759 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-521076012147016759 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-521076012147016759 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-521076012147016759 .\[\&_p\]\:gp-inline p{display:inline}.gps-521076012147016759 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-521076012147016759 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-521076012147016759 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="ghSTENelfO"
        style="--blockPadding:base;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghSTENelfO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g0iYaIipV4 gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:400px;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-b615b867-7357-4047-ab98-c889edadb7a8.jpg?v=1720115150","width":1280,"height":660,"backupFileKey":"gempages_521059818593584266-b615b867-7357-4047-ab98-c889edadb7a8.jpg","storage":"FILE_CONTENT"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"tablet":{"attachment":"scroll","color":"#00000000","image":{"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-b615b867-7357-4047-ab98-c889edadb7a8.jpg?v=1720115150","width":1280,"height":660,"backupFileKey":"gempages_521059818593584266-b615b867-7357-4047-ab98-c889edadb7a8.jpg","storage":"FILE_CONTENT"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"mobile":{"image":{"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-b615b867-7357-4047-ab98-c889edadb7a8.jpg?v=1720115150","width":1280,"height":660,"backupFileKey":"gempages_521059818593584266-b615b867-7357-4047-ab98-c889edadb7a8.jpg","storage":"FILE_CONTENT"},"type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","size":"cover","position":{"x":0,"y":0},"repeat":"no-repeat","attachment":"scroll","color":"#00000000","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true}},"uid":"gR3Wf4-zih","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%"}'
        
        class="gR3Wf4-zih gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--radius:var(--g-radius-none);--h:auto;--h-tablet:auto;--h-mobile:400px;--w:100%;--w-tablet:100%;--w-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:auto;--h-tablet:auto;--h-mobile:400px;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_521059818593584266-b615b867-7357-4047-ab98-c889edadb7a8.jpg" | file_img_url: 'master' }}" />
        
        <img
          title
          class="adaptive-hero-banner"
          src="{{ "gempages_521059818593584266-b615b867-7357-4047-ab98-c889edadb7a8.jpg" | file_img_url: 'master' }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1280/660;--aspect-tablet:undefined/undefined;--aspect-mobile:1280/660;--d:block;--d-tablet:block;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:400px;--w:100%;--w-mobile:auto;--w-tablet:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_521059818593584266-b615b867-7357-4047-ab98-c889edadb7a8.jpg" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_521059818593584266-b615b867-7357-4047-ab98-c889edadb7a8.jpg" | file_img_url: 'master' }}"
        alt=""
        style="--aspect:1280/660;--aspect-tablet:undefined/undefined;--aspect-mobile:1280/660;--d:block;--d-tablet:block;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:400px;--w:100%;--w-mobile:auto;--w-tablet:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax"
             style="--bgc:#00000000;--bgc-mobile:#00000000;--bgi:url(https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-b615b867-7357-4047-ab98-c889edadb7a8.jpg?v=1720115150);--bgi-mobile:url(https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-b615b867-7357-4047-ab98-c889edadb7a8.jpg?v=1720115150);--bgp:50% 50%;--bgp-mobile:0% 0%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
              </div>  
               </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%;--hvr-op:0%"
          > </div>
          </div>
          <a
              href="/collections/new-arrivals"
              target="_self"
              aria-label="Hero banner link"
              class="gp-absolute gp-inset-0 gp-z-1"
            > </a>
          
      
      
    <div
      id
        style="--pl:15px;--pr:15px;--pt:32px;--pb:84px;--pl-tablet:15px;--pr-tablet:15px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:15px;--pr-mobile:15px;--pt-mobile:16px;--pb-mobile:20px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1230px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-absolute tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:end;--o:0"
      class="gEdpc5jojq gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="guxY58AGSB "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:5px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-Darina-Regular, 'Darina Regular'), var(--g-font-heading, heading);--weight:700;--ls:7px;--size:85px;--size-tablet:57px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gguxY58AGSB_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g_vjQ-WFxj "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--weight:400;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg_vjQ-WFxj_text }}</div>
      </div>
    </div>
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    class=""
  >
    <style>
    .gwyqcm1oKb.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gwyqcm1oKb:hover::before {
      
      
    }

    .gwyqcm1oKb:hover .gp-button-icon {
      color: undefined;
    }

     .gwyqcm1oKb .gp-button-icon {
      color: #000000;
    }

    .gwyqcm1oKb:hover .gp-button-price {
      color: undefined;
    }

    .gwyqcm1oKb .gp-button-price {
      color: #000000;
    }

    .gwyqcm1oKb .gp-product-dot-price {
       color: #000000;
    }

    .gwyqcm1oKb:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/frontpage" target="_self" data-id="gwyqcm1oKb" aria-label="<p>SHOP NOW</p>"
      
      data-state="idle"
      class="gwyqcm1oKb gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#ffffff;--bg:#ffffff;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--w:150px;--w-tablet:150px;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--c:#000000;--size:16px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
    <div 
    class="gp-inline-flex">
    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--fs:normal;--ff:var(--g-font-Darina-Regular, 'Darina Regular'), var(--g-font-body, body);--weight:700;--ls:5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:uppercase"
      >
        {{ section.settings.ggwyqcm1oKb_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:400px;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg?v=1720127035","width":1280,"height":616,"backupFileKey":"gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpeg","storage":"FILE_CONTENT"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"tablet":{"attachment":"scroll","color":"#00000000","image":{"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg?v=1720127035","width":1280,"height":616,"backupFileKey":"gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpeg","storage":"FILE_CONTENT"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"mobile":{"image":{"src":"https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg?v=1720127035","width":1280,"height":616,"backupFileKey":"gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpeg","storage":"FILE_CONTENT"},"type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","size":"cover","position":{"x":0,"y":0},"repeat":"no-repeat","attachment":"scroll","color":"#00000000","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true}},"uid":"grE8OFuLad","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%"}'
        
        class="grE8OFuLad gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--radius:var(--g-radius-none);--h:auto;--h-tablet:auto;--h-mobile:400px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
      >
        <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
          style="--h:auto;--h-tablet:auto;--h-mobile:400px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
        >
          
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg" | file_img_url: 'master' }}" />
        
        <img
          title
          class="adaptive-hero-banner"
          src="{{ "gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg" | file_img_url: 'master' }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1280/616;--aspect-tablet:undefined/undefined;--aspect-mobile:1280/616;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:400px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      
      <img
        title
        class="adaptive-hero-banner gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg" | file_img_url: 'master' }}"
        alt=""
        style="--aspect:1280/616;--aspect-tablet:undefined/undefined;--aspect-mobile:1280/616;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:400px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
          <div class="gp-absolute gp-w-full gp-h-full">
            <div
              class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
              >
              <div
                aria-label="Background Image"
                role="banner"
                class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
                style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
              > 
              <div class="hero-banner-bg-parallax"
             style="--bgc:#00000000;--bgc-mobile:#00000000;--bgi:url(https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg?v=1720127035);--bgi-mobile:url(https://cdn.shopify.com/s/files/1/0823/0302/5461/files/gempages_521059818593584266-67d92c99-4447-450a-bd89-5f5eddd7c26d.jpg?v=1720127035);--bgp:50% 50%;--bgp-mobile:0% 0%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
             >
              </div>  
               </div>
            </div>
            <div
            aria-label="Overlay"
            role="banner"
            class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0%;--hvr-op:0%"
          > </div>
          </div>
          <a
              href="/products/shes-strong-blazer-copy"
              target="_self"
              aria-label="Hero banner link"
              class="gp-absolute gp-inset-0 gp-z-1"
            > </a>
          
      
      
    <div
      id
        style="--pl:15px;--pr:15px;--pt:32px;--pb:84px;--pl-tablet:15px;--pr-tablet:15px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:15px;--pr-mobile:15px;--pt-mobile:16px;--pb-mobile:20px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1230px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:end;--o:0"
      class="g1u6mHscRd gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
    
        </div>
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-521076012147016759 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/shop-serah-1/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=521059881055159173&sectionId=521076012147016759)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"gguxY58AGSB_text","label":"gguxY58AGSB_text","default":"<strong>BEST SELLERS</strong>"},{"type":"html","id":"gg_vjQ-WFxj_text","label":"gg_vjQ-WFxj_text","default":"<p>EXPLORE OUR COLLECTION OF THE BEST SELLING DESIGNS</p>"},{"type":"html","id":"ggwyqcm1oKb_label","label":"ggwyqcm1oKb_label","default":"<p>SHOP NOW</p>"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
